body{
	font-family: HelveticaNowText,Helvetica,Arial,sans-serif;
    background-image: url('https://lh3.googleusercontent.com/proxy/83VcHmJU7ar3lhCSjaDsyA2CnvVHqWyj5I8vTI0CpliaUSEsbzBTDjgkBZeu3EJwFa2SZP8_DvsnOQs=s0-d');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 5000px;
}

header, img {
    max-width: 90%;
    max-height: 90%;  
}

 footer {
	width: 960px;
	margin-left: 20 px;
	margin-right: auto;
}

header{
	margin-left: auto;
    margin-right: auto;
	height: 200px;
	top: 0;
    width: 700px;
}



#Descrpcion h1 {
    color: antiquewhite;
    font-size:60px ;
    text-align:center;
}

#Descrpcion h2 {
    color: rgb(153, 152, 152);
    font-size:30px ;
    text-align:center;
}

#InfoPersonal{
    position: relative;
    text-align: center;
    color: white; 
    max-width: 90%;
    max-height: 90%; 
    margin-left: auto;
    margin-right: auto;
    font-size:40px ;
}

#InfoPersonal p{
    position: relative;
    text-align: center;
    color: rgb(153, 152, 152);
    max-width: 100%;
    max-height: 100%; 
    margin-left: auto;
    margin-right: auto;
    font-size:30px ;

}


#InfoPersonal img{
    width: 1200px;
    height: 800px;
}

#InfoPersonal .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#navbar {
    background: rgb(10,175,237);
    background: linear-gradient(163deg, rgba(10,175,237,1) 0%, rgba(10,26,237,1) 0%, rgba(74,10,237,1) 49%, rgba(10,156,237,1) 98%);
    width: 110%;
    height:156px;
    width: 100%; 
    font-size:10px;
	margin-left: 0 px;

  }
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #navbar a:hover {
    background: #ddd;
    color: black;
  }
  
  #Practica1  {
    position: relative;
    text-align: center;
    color: white; 
    float: left;
    max-width: 90%;
    max-height: 90%; 
    margin-left:0px;
    margin-right: auto;
    font-size:40px ;
}

 #pdf1{
    color: white; 
    float: right;
    margin-right: 500px;
    margin-top: auto;
}

#Practica1 h1{
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
    max-width: 100%;
    max-height: 100%; 
    margin-left: auto;
    margin-right: auto;
    font-size:50px ;
}

#Practica1 img{
    width: 600px;
    height: 400px;
}

#Practica1 .practicaT1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#PracticaC  {
    position: relative;
    text-align: center;
    color: white; 
    float: left;
    max-width: 90%;
    max-height: 90%; 
    margin-left:0px;
    margin-right: auto;
    font-size:40px ;
}

 #pdfC{
    color: white; 
    float: right;
    margin-right: 500px;
    font-size:40px ;
}

#PracticaC h1{
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
    max-width: 100%;
    max-height: 100%; 
    margin-left: auto;
    margin-right: auto;
    font-size:50px ;
}

#PracticaC img{
    width: 600px;
    height: 400px;
}

#PracticaC .practicaTC {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Practica2  {
    position: relative;
    text-align: center;
    color: white; 
    float: left;
    max-width: 90%;
    max-height: 90%; 
    margin-left:0px;
    margin-right: auto;
    font-size:40px ;
}

 #pdf2{
    color: white; 
    float: right;
    margin-right: 500px;
    margin-top: auto;
}

#Practica2 h1{
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
    max-width: 100%;
    max-height: 100%; 
    margin-left: auto;
    margin-right: auto;
    font-size:50px ;
}

#Practica2 img{
    width: 600px;
    height: 400px;
}

#Practica2 .practicaT2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Practica3  {
    position: relative;
    text-align: center;
    color: white; 
    float: left;
    max-width: 90%;
    max-height: 90%; 
    margin-left:0px;
    margin-right: auto;
    font-size:40px ;
}

 #pdf3{
    color: white; 
    float: right;
    margin-right: 500px;
    margin-top: auto;
}

#Practica3 h1{
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
    max-width: 100%;
    max-height: 100%; 
    margin-left: auto;
    margin-right: auto;
    font-size:50px ;
}

#Practica3 img{
    width: 600px;
    height: 400px;
}

#Practica3 .practicaT3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#PracticaBS1  {
    position: relative;
    text-align: center;
    color: white; 
    float: left;
    max-width: 90%;
    max-height: 90%; 
    margin-left:0px;
    margin-right: auto;
    font-size:40px ;
}

 #pdfBS1{
    color: white; 
    float: right;
    margin-right: 500px;
    margin-top: auto;
}

#PracticaBS1 h1{
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
    max-width: 100%;
    max-height: 100%; 
    margin-left: auto;
    margin-right: auto;
    font-size:50px ;
}

#PracticaBS1 img{
    width: 600px;
    height: 400px;
}

#PracticaBS1 .practicaTBS1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#footer {
    position: relative;
    background: rgb(0, 0, 0);
    height:127px;
    width: 100%; 
    color: rgb(153, 152, 152);
    text-align: center;
    font-size:50px ;
 }

 #PracticaBS2 {
    position: relative;
    text-align: center;
    color: white; 
    float: left;
    max-width: 90%;
    max-height: 90%; 
    margin-left:0px;
    margin-right: auto;
    font-size:40px ;
}



#PracticaBS2 h1{
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
    max-width: 100%;
    max-height: 100%; 
    margin-left: auto;
    margin-right: auto;
    font-size:50px ;
}

#PracticaBS2 img{
    width: 600px;
    height: 400px;
}

#PracticaBS2 .practicaTBS2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#PracticaBS2 a {
    float: right;
    margin-right: 500px;
    margin-top: auto;
}

#PracticaBS3 {
    position: relative;
    text-align: center;
    color: white; 
    float: left;
    max-width: 90%;
    max-height: 90%; 
    margin-left:0px;
    margin-right: auto;
    font-size:40px ;
}



#PracticaBS3 h1{
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
    max-width: 100%;
    max-height: 100%; 
    margin-left: auto;
    margin-right: auto;
    font-size:50px ;
}

#PracticaBS3 img{
    width: 600px;
    height: 400px;
}

#PracticaBS3 .practicaTBS3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#PracticaBS3 a {
    float: right;
    margin-right: 500px;
    margin-top: auto;
}


#footer {
    position: relative;
    background: rgb(0, 0, 0);
    height:127px;
    width: 100%; 
    color: rgb(153, 152, 152);
    text-align: center;
    font-size:50px ;
 }

  #footer a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
    margin-right: 50px;
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
}

#footer h1{
    top: 50%;

}
